<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654084520934-g2gu9s72c787fv9kmofgmtis0v2losff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654084520934-g2gu9s72c787fv9kmofgmtis0v2losff</string>
	<key>API_KEY</key>
	<string>AIzaSyA6sK-0kmDX2WHg0MPwSHWHkJ3KhS_EaLg</string>
	<key>GCM_SENDER_ID</key>
	<string>654084520934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackExpenses</string>
	<key>PROJECT_ID</key>
	<string>trackexp-8488d</string>
	<key>STORAGE_BUCKET</key>
	<string>trackexp-8488d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654084520934:ios:2c0c3f96021fc2d1b53427</string>
</dict>
</plist>